<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whh.user.mapper.UserMapper">
	<select id="queryUserList" resultType="com.whh.service.user.vo.UserInfo">
		select
			user_id as id,
			login_name as loginName,
			user_name as userName
		from se_user u
	</select>
</mapper>