<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whh.mapper.ProductMapper">
	<select id="queryProductList" resultType="com.whh.model.Product">
		select
			product_id as id,
			product_name as productName
		from ss_product p
	</select>
</mapper>